/* Mobile devices */
@media (max-width: 768px) {
    .container {
        width: 90%;
        font-size: 1.8rem;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 80%;
        font-size: 2rem;
    }
}

/* Desktops */
@media (min-width: 1024px) {
    .container {
        width: 70%;
        font-size: 2.2rem;
    }
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
    width: 100%;
}


/* Mobile devices */
@media (max-width: 768px) {
  .container {
    width: 90%;
    font-size: 1.8rem;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 80%;
    font-size: 2rem;
  }
}

/* Desktops */
@media (min-width: 1024px) {
  .container {
    width: 70%;
    font-size: 2.2rem;
  }
}


h1 {
  font-size: 3rem;
}


textarea {
    height: 10rem;
    width: 20rem;
    border-radius: 0.25rem;
    border: dotted;
    border-color: Background;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 2rem;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    padding: 2rem;
}

    button:hover {
        background-color: #333;
        color: #fff;
    }

input[type="range"] {
    width: 25rem;
}

span {
    margin-left: 0.5rem;
}

label {
    margin-right: 1rem;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

.status {
    font-size: 1.2rem;
    margin-top: 1rem;
}


.basic-container {
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #f5f5f5;
}

.password-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.password-text {
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    margin: 0.5rem;
}

.password-info {
    display: flex;
    align-items: center;
}

.password {
    margin: 0;
    margin-right: 1rem;
}

.password-button {
    padding: 0.5rem;
    font-size: 1rem;
}

.password-input {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 3rem;
}

.password-status {
    margin-top: 0.5rem;
}

.message-container {
    border: 0.1rem solid black;
    background-color: lightgrey;
    padding: 1rem;
    align-items: center;
}